<h1>Candies#new</h1>

<%= form_for @candy do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :sugar_level %>
  <%= f.text_field :sugar_level %>

  <%= f.collection_select :treater_id, Treater.all, :id, :name %>

  <%= f.submit %>

<% end %>
