<!DOCTYPE html>
<html>
  <head>
    <title>Ikea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <a href="https://www.ikea.com/ms/en_JP/about_ikea/the_ikea_way/swedish_heritage/index.html">About Us | All Hail IKEA</a>
  </body>
</html>
